body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px; 
}

.title {
    font-size: 2.5em;
    margin: 20px 0;
    text-align: left;
    color: #6c757d;
}

#conversionTableContainer {
    width: 100%;
    overflow-x: auto;
    margin-top: 20px;
}

table {
    width: calc(100% - 40px);
    max-width: 1000px;
    margin: 20px 0;
    border-collapse: collapse;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 20px;
    text-align: center;
    font-size: 1.1em;
    border-right: 1px dotted #ccc;
}

th:last-child, td:last-child {
    border-right: none; 
}

thead th {
    background-color: #6c757d;
    color: white;
}

td input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
    background-color: inherit;
}

.ad-container {
    margin: 20px 0;
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: rgba(211, 211, 211, 0.6); 
}

tbody tr:nth-child(even) {
    background-color: rgba(211, 211, 211, 0.8);
}

.footer-container {
    display: flex;
    max-width: 1000px;
    flex-direction: row;
    justify-content: space-between; 
    margin-top: 20px;
    width: calc(100% - 40px); 
}

footer, .time-info {
    flex: 1;
}

footer h3, .time-info h3 {
    margin-top: 0;
    font-size: 1.5em;
    color: #6c757d;
}

footer ul, .time-info ul {
    list-style-type: none;
    padding: 0;
}

footer li, .time-info li {
    font-size: 1em;
    line-height: 1.5em;
    color: #333;
}

footer {
    text-align: left;
}

.time-info {
    padding-left: 20px;
    border-left: 1px solid #ccc;
}

.time-info input {
    background-color: transparent;
    border: 0;
    font-size: 16px;
    font-family: 'Roboto';
}

#conversionTableAndAdContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1400px;
}

.ad-vertical {
    margin-left: 20px;
    width: 332px;
    height: 664px;
    flex-shrink: 0;
}

.ad-horizontal {
    margin-top: 20px;
    width: 760px;
    height: 154px;
}

@media (max-width: 768px) {
    th, td {
        padding: 10px;
        font-size: 0.9em;
    }

    td input {
        padding: 5px;
        font-size: 0.9em;
    }

    .title {
        font-size: 2em;
    }

    .footer-container {
        flex-direction: column;
    }

    .time-info {
        border-left: none;
        border-top: 1px solid #ccc;
        padding-left: 0;
        padding-top: 20px;
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    th, td {
        padding: 5px;
        font-size: 0.8em;
    }

    td input {
        padding: 5px;
        font-size: 0.8em;
    }

    .title {
        font-size: 1.5em;
    }

    .footer-container {
        flex-direction: column;
    }

    .time-info {
        border-left: none;
        border-top: 1px solid #ccc;
        padding-left: 0;
        padding-top: 20px;
        margin-top: 20px;
    }
}
